DEBUG=True
SECRET_KEY=troque-por-uma-chave-secreta-aqui
DB_ENGINE=sqlite
POSTGRES_DB=fasta_db
POSTGRES_USER=fasta_user
POSTGRES_PASSWORD=troque-por-uma-senha-aqui
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
